<h2>Create Action</h2>
<br/>
<form action="/actions" method="post" role="form">
 <div class="form-group">
   <label for="action_properties">Properties:</label>
   <br>
   <input id="action_properties" class="form-control" name="action[properties]" type="text" value="<%= @action.properties %>"/>
   <small id="action_proppertiesHelp" class="form-text text-muted">Please enter key value pairs like: `name: frol, real: yes, type: human`</small>
 </div>
 <button type="submit" class="btn btn-success">Submit</button>
</form>
